doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Your Videos - Huelet, the video platform for humans
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css")
    style.
      .clu {
        float: right;
        padding: 15px;
      }
      .pfpimg {
        border-radius: 50%;
      }
      .dir__item {
        padding-right: 12rem;
      }
      @media screen and (max-width: 1250px) {
        .dir__item {
          padding-right: 2rem;
        }
      }
      @media screen and (max-width: 1150px) {
        .dir__item {
          padding-right: 0.7rem;
        }
      }
      @media screen and (max-width: 1050px) {
        .dir__item {
          padding-right: 0.01em;
          padding: 1px;
        }
      }
      @media screen and (max-width: 850px) {
        .dir__item {
          padding-right: 0.2rem;
        }
      }
    include incl/scripts
  body
    #__client
      #__allc
        .p-5.a.b
            .p-5.a.b.c
              .p-5.b.c.d
                .d-flex.flex-row.mb-3
                  img.pfpimg.i10n__todo(src=pfp, alt="Your profile picture", width="180", height="180")
                  h2.display-4.p-4=uname
                h4.display-6.p-4=email
                  a(href="/ul")
                    .btn.btn-primary.clu Upload
                .alert.alert-secondary.d-flex.flex-row
                  .dir__item.i10n__todo
                    a(href="/studio/videos")
                      h2.p-4 Videos
                  .dir__item.i10n__todo
                    a(href="/studio/analytics")
                      h2.p-4 Analytics
                  .dir__item.i10n__todo
                    a(href="/studio/profile")
                      h2.p-4 Public Profile
                  .dir__item.i10n__todo
                    a(href=`https://slatch.huelet.net/vrUser?u=${uid}&ref=tdash` target="_blank")
                      h2.p-4 Earnings
                  .dir__item.i10n__todo
                    a(href="/studio/me/settings")
                      h2.p-4 Settings
              .container
                .row
                  .col-sm.border.border-secondary.rounded
                    #nickChange
                      h2.display-6 Change your username
                      form(action="/api/profiledata/nickname", method="get")
                        input#nick.form-control(type="text", name="nick", required)
                        button.btn.btn-primary(type="submit") Deploy Changes
                  .col-sm.border.border-secondary.rounded
                    #pfpChange
                      h2.display-6 Change your Profile Picture
                      form(action="/api/profiledata/pfp/upload", method="post", enctype="multipart/form-data")
                        input#profilepic(type="file", name="file")
                        button.btn.btn-primary(type="submit") Deploy Changes
      .version
        p=appversion
    script.
        const nameChange = document.getElementById("nickChange");
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        const unamedata = getUrlVars()["uname"];
        if (unamedata === "failure") {
          nameChange.innerHTML = `<div class="alert alert-danger" role="alert"><h4 class="alert-heading">yowza! your username change didn't work.</h4><p>Unfortunately, you weren't able to change your username. Please report this bug in the #bugs section of our discord server.</p></div>`;
        } if (unamedata === "success") {
          nameChange.innerHTML = `<div class="alert alert-success" role="alert"><h4 class="alert-heading">Awesome! Your username change worked!</h4><p>Aww yeah, your username was successfully changed!</p></div>`;
        }